<li>
    {{burger_name}}

    <button class="change-devoured" data-id="{{this.id}}" data-newdevoured="{{devoured}}">
        {{#if devoured}}EAT ME!{{else}}Order another?{{/if}}
    </button>


    
    
	<button class="delete-burger" data-id="{{this.id}}">No more!</button>
</li>